<div class="main fadeIn">
  <div class="main-head border-bottom">
    <h2 class="text-uppercase">Contact</h2>
  </div>
  <div class="content">
    <form [formGroup]="messageForm">
      <div class="row">
        <div class="col-sm-6 mg-top-10">
          <div class="form-box">
            <input id="nameContact" type="text" placeholder=" " formControlName="contactName"
                   [(ngModel)]="contactForm.contactName" required="required"/>
            <label for="nameContact">Name</label>
            <div *ngIf="contactNameForm.invalid && (contactNameForm.dirty || contactNameForm.touched)" class="error-msg">
              <div *ngIf="contactNameForm.errors['required']">Name is required</div>
              <div *ngIf="contactNameForm.errors['minlength']">Name must contain more than 1 letter</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mg-top-10">
          <div class="form-box">
            <input id="emailContact" type="email" placeholder=" " formControlName="contactEmail"
                   [(ngModel)]="contactForm.contactEmail">
            <label for="emailContact">Email</label>
            <div *ngIf="contactEmailForm.invalid && (contactEmailForm.dirty || contactEmailForm.touched)" class="error-msg">
              <div *ngIf="contactEmailForm.errors['required']">Email is required</div>
              <div *ngIf="contactEmailForm.errors['email']">Wrong email</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mg-top-25">
          <div class="form-box">
            <textarea id="messageContact" placeholder=" "
                    formControlName="contactMessage" rows="4" [(ngModel)]="contactForm.contactMessage"></textarea>
            <label for="messageContact">Message</label>
            <div *ngIf="contactMessageForm.invalid && (contactMessageForm.dirty || contactMessageForm.touched)"
                 class="error-msg">
              <div *ngIf="contactMessageForm.errors['required']">Message is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mg-top-25">
        <button [disabled]="messageForm.invalid" type="submit" class="btn-blue" (click)="showSuccessMessage()">Send message</button>
        <p class="text-right text-success mg-top-10" *ngIf="successMessage">Successful send message</p>
      </div>
    </form>
  </div>
</div>
